<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>健身房管理系统-会员选课</title>
</head>
<body>

        <main>
            <div>
                <h1>报名选课</h1>

                <ol>
                    <li><a th:href="@{/toUserMain}">主页</a></li>
                    <li>报名选课</li>
                </ol>

                <div>
                    <div>
                        <i></i>
                        课程信息表
                    </div>
                    <div>
                        <table id="datatablesSimple">
                            <thead>
                            <tr>
                                <th>编号</th>
                                <th>名称</th>
                                <th>时间</th>
                                <th>时长</th>
                                <th>教练</th>
                                <th>操作</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr th:each="class:${classList}">
                                <td th:text="${class.classId}">编号</td>
                                <td th:text="${class.className}">名称</td>
                                <td th:text="${class.classBegin}">时间</td>
                                <td th:text="${class.classTime}">时长</td>
                                <td th:text="${class.coach}">教练</td>
                                <td>
                                    <a th:href="@{/user/applyClass(classId=${class.classId})}"
                                       >
                                        <input type="button"  value="报名">
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>

</body>
</html>
